<html lang="en" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!DOCTYPE html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <f:comment><!--Main CSS --></f:comment>
    <link rel="stylesheet" type="text/css" href="{extPath}Helper/resources/css/main.css">

    <f:comment><!-- Font-icon css--></f:comment>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <f:comment><!-- load js file --></f:comment>
    <script type="text/javascript" src="{extPath}Helper/resources/js/backend.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="app sidebar-mini rtl">

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>

<div class="tab">
    <button class="tablinks button" id="Account_Tab" onclick="removeFlashMessage(); openTab(event,'Account')">Account</button>
    <button class="tablinks button" id="Identity_Provider_Tab" onclick="removeFlashMessage(); openTab(event, 'Identity_Provider')">IdP Settings</button>
    <button class="tablinks button" id="Service_Provider_Tab" onclick="removeFlashMessage(); openTab(event, 'Service_Provider')">SP Settings</button>
    <button class="tablinks button" id="Attribute_Mapping_Tab" onclick="removeFlashMessage(); openTab(event, 'Attribute_Mapping')">Attribute Mapping</button>
    <button class="tablinks button" id="Group_Mapping_Tab" onclick="removeFlashMessage(); openTab(event, 'Group_Mapping')">Group Mapping</button>
    <button class="tablinks button" id="Support_Tab" onclick="removeFlashMessage(); openTab(event,'Support')">Support</button>
</div>

<input type="hidden" name="taby" id="taby" value="{tab}">

<div id="topContainer">
    <f:comment><!--Left Container--></f:comment>
    <div id="leftContainer" class="container">

        <f:comment><!--   IDENTITY PROVIDER TAB--></f:comment>
     <div id="Identity_Provider" class="tabcontent"  >
        <h3><strong>Identity Provider Settings</strong></h3>  <p class="premiumMessage" style={nolog} >  [Please login to configure settings.]</p>
         <hr>
            <div class="tile" >
                <form method="POST" action="" id="saml_form" >
                    <input type="hidden" name="option" value="idp_settings">
                            <div class="form-group" >
                                <label for="idp_name"><b>Identity Provider Name</b><span class="premiumMessage">*</span></label>
                                <input class="form-control" {log} name="idp_name" id="idp_name" type="text" required value="{conf_idp.idp_name}">
                            </div>

                            <div class="form-group">
                                <label for="idp_entity_id"><b>IDP Entity ID</b><span class="premiumMessage">*</span></label>
                                <input class="form-control" {log} name="idp_entity_id" id="idp_entity_id" type="text"
                                       required value="{conf_idp.idp_entity_id}">
                            </div>

                            <div class="form-group">
                                <label for="saml_login_url"><b>SAML Login URL</b><span class="premiumMessage">*</span></label>
                                <input class="form-control" {log} name="saml_login_url" id="saml_login_url" type="text"
                                       required value="{conf_idp.saml_login_url}">
                            </div>

                            <div >
                                <label class="premiumBox"><strong>SAML Login Binding type</strong> <span class="premiumMessage">  [Premium Feature] </span></label>
                                <table>
                                        <tr>
                                            <td style="padding:10px;">
                                                <div class="animated-radio-button">
                                                    <label>
                                                        <input class="inputabs" disabled checked type="radio" name="login_binding_type" id="http_redirect_binding" value="HttpRedirect"><span class="label-text">Http-Redirect</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="padding:10px;">
                                                <div class="animated-radio-button">
                                                    <label>
                                                        <input class="inputabs" disabled  type="radio" name="login_binding_type" id="http_post_binding" value="HttpPost"><span class="label-text">Http-Post</span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                </table>
                            </div>

                            <div class="form-group" style= "border: black">
                                <label for="x509_certificate"><b>SAML x509 Certificate</b><span class="premiumMessage">*</span></label>
                                <textarea required class="form-control" {log} id="x509_certificate" name="x509_certificate" rows="5" >{conf_idp.x509_certificate}</textarea>
                                <small><b>NOTE:</b> Format of the certificate:<br/><b>-----BEGIN CERTIFICATE-----<br/>XXXXXXXXXXXXXXXXXXXXXXXXXXX<br/>-----END CERTIFICATE-----</b></small><br/>
                            </div>

                            <div class="form-group">
                                <label for="saml_logout_url" class="premiumBox"><b>SAML Logout URL</b> <span class="premiumMessage">  [Premium Feature] </span></label>
                                <input class="form-control" disabled name="saml_logout_url" id="saml_logout_url" type="text" value="">
                            </div>

                            <label for="signing_info"><b>Signing</b></label>
                            <p>Supports both Signed Assertion and Signed Response<i class="fa fa-question-circle" id="signing_info" style="padding-left:5px;"></i><br/></p>

                            <div class="form-group">
                                <div style="display:none;" class="help_desc" id="signing_help_desc">
                                    Please make sure that your Identity Provider sign atleast one of them.
                                </div>
                            </div>

                            <div >
                                <div class="animated-checkbox">
                                    <input type="checkbox" disabled  id="force_authn"  name="force_authn" >
                                    <label class="premiumBox"> <span class="label-text">Force Authentication</span> <span class="premiumMessage"> [Premium Feature] </span></label>
                                    &nbsp
                                </div>
                            </div>

                    &nbsp
                    <div class="tile-footer">
                        <button class="btn btn-primary" type="submit" {log} name="submit_saml_form" id="submit_saml_form" style="margin-right:10px;" onClick="jQuery('#saml_form').submit();">Save</button>
                        <a  {log} style="text-decoration:none"><button onClick="window.open('{conf_sp.fesaml}'+'?RelayState=testconfig');" {log} class="btn btn-primary" name="do_sso" type="button">Test Configuration</button></a>
                    </div><br>
<br>
                </form>
        </div>
        </div>

        <f:comment><!--   SERVICE PROVIDER TAB --></f:comment>
        <div id="Service_Provider"  class="tabcontent"  >
            <h3><strong>Service Provider Settings</strong></h3> <div class="premiumMessage" style={nolog}> [Please login to configure settings.]</div>
            <hr>
            <div class="tile">
            <form action="" method="post" id="sp_settings"  >

                <input type="hidden" name="option" value="save_sp_settings"/>
                <f:comment><!--<div style="width: 40%; display: inline-block">--></f:comment>
                <div class="form-group">
                    <label for="fesaml"><b> URL with fesaml</b></label>
                       <input class="form-control" {log} id="fesaml" name="fesaml" type="text" value="{conf_sp.fesaml}"
                    >
                </div>

                <div class="form-group">
                    <label for="response"><b>URL with response</b></label>
                    <input class="form-control" {log} id="response" name="response" type="text" value="{conf_sp.response}" >
                </div>

                <div class="form-group">
                    <label for="site_base_url"><b> Base URL</b></label>
                    <input class="form-control" {log} id="site_base_url"
                           name="site_base_url" type="text" value="{conf_sp.site_base_url}" >
                </div>

                <div class="form-group">
                    <label for="acs_url"><b>ACS URL</b></label>
                    <input class="form-control" {log} id="acs_url" name="acs_url" type="text" value="{conf_sp.acs_url}" >
                </div>

                <div class="form-group" >
                    <label for="sp_entity_id"><b>SP Entity ID</b></label>
                    <input class="form-control" {log} id="sp_entity_id" name="sp_entity_id" type="text" value="{conf_sp.sp_entity_id}">
                </div>

                <div class="form-group" >
                    <label for="slo_url" class="premiumBox"><b>SINGLE LOGOUT URL</b><span class="premiumMessage">  [Premium Feature] </span></label>
                    <input class="form-control" disabled id="slo_url" name="slo_url" type="text" value=""  >
                </div>

                <div class="form-group" style="margin:20px 0">
                    <label><b>  SP Certificate:</b></label>
                    <a style="padding-left:5px;" target="_blank" href="{extPath}Helper/resources/sp-certificate.crt" id="download_sp_cert">Download</a><i class="fa fa-question-circle" id="sp_certificate_help" style="padding-left:5px;"></i>
                    <br/>
                    <div class="help_desc" id="sp_certificate_help_desc" style="display:none;">
                        Provide this certificate to your Identity Provider for encryption or signing.
                    </div>
                </div>

                <div class="tile-footer form-group">
                    <button class="btn btn-primary" type="button" name="sp_settings_form" {log} id="sp_setting_form" style="margin-right:40px; padding: 7px 25px " onClick="jQuery('#sp_settings').submit();"> Save </button>
                    <a href="https://www.miniorange.com/typo3-single-sign-on-(sso)" target="_blank">Click Here for User Guide</a>
                </div>
                <br>
            </form>
            </div>
        </div>

        <f:comment><!--   ATTRIBUTE MAPPING TAB--></f:comment>
        <div id="Attribute_Mapping" class="tabcontent"  >
            <form id="attrs_form" method="post" action ="">
                <input type="hidden" name="option" value="attribute_mapping">
                <h3><strong>Attribute Mapping</strong> <span class="premiumMessage" > [Premium Feature]</span> </h3>
                <hr>
                <div class="tile">

                    <div class="form-group">
                        <label for="saml_am_username"><b>Username</b> <span class="premiumMessage" > * </span> </label>
                        <input class="form-control" disabled id="saml_am_username"  required name="saml_am_username" type="text" value = "NameID">
                        <p><i class="fa fa-question-circle" id="signing_info" style="color:cadetblue; padding-left:5px;"></i> <em> User accounts will be created using this attribute value.</em>
                    </div>

                    <div class="form-group">
                        <label for="saml_am_email"><b>Email</b></label>
                        <input class="form-control" id="saml_am_email" name="saml_am_email" type="text" disabled value="NameID">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_groups"><b>Groups/Roles</b></label>
                        <input class="form-control" disabled id="saml_am_groups" name="saml_am_groups" type="text" value = "{conf_am.saml_am_groups}">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_title"><b>Title</b></label>
                        <input class="form-control" disabled id="saml_am_title" name="saml_am_title" type="text" value = "{conf_am.saml_am_title}">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_fname"><b>First Name</b></label>
                        <input class="form-control" disabled id="saml_am_fname" name="saml_am_fname" type="text" value = "">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_lname"><b>Last Name</b></label>
                        <input class="form-control" disabled id="saml_am_lname" name="saml_am_lname" type="text" value = "">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_address"><b>Address</b></label>
                        <input class="form-control" disabled id="saml_am_address" name="saml_am_address" type="text" value = "">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_city"><b>City</b></label>
                        <input class="form-control" disabled id="saml_am_city" name="saml_am_city" type="text" value = "">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_zip"><b>ZIP</b></label>
                        <input class="form-control" disabled id="saml_am_zip" name="saml_am_zip" type="text" value = "">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_country"><b>Country</b></label>
                        <input class="form-control" disabled id="saml_am_country" name="saml_am_country" type="text" value = "">
                    </div>

                    <div class="form-group">
                        <label for="saml_am_phone"><b>Phone</b></label>
                        <input class="form-control" disabled id="saml_am_phone" name="saml_am_phone" type="text" value = "">
                    </div>

                </div>

                <div class="form-group" >
                    <input type="checkbox" disabled  id="saml_am_update_attr"  name="saml_am_update_attr" >
                    <label for="saml_am_update_attr">Sync user attributes on login</label><br>
                    <p><i class="fa fa-question-circle" id="signing_info" style="color:cadetblue; padding-left:5px;"></i> <em>  Enable to sync ussr attribute values on every signin.</em>
                </div>
                &nbsp;
                <div class="form-group">
                    <f:comment><!--    <br/>--></f:comment>
                    <button type="submit" disabled class="btn btn-primary" onClick="jQuery('#attrs_form').submit();">Save Attribute Mapping</button>
                </div>

            </form>
        </div>

        <f:comment><!--   GROUP MAPPING TAB--></f:comment>
        <div id="Group_Mapping" class="tabcontent"  >
            <form {log} id="gm_form" method="post" action ="">
                <input type="hidden" name="option" value="group_mapping">
                <h3><strong>Group Mapping</strong></h3>
                <hr>

                <f:comment><!--  Default UserGroup--></f:comment>
                <div class="form-group gm-div">
                    <label class="form-control gm-input-label" for="defaultUserGroup">Default UserGroup</label>
                    <f:comment><!--  Populate DropDown--></f:comment>
                        <select class="form-control gm-input" {log} name="defaultUserGroup" id="defaultUserGroup" >
                            <f:for each="{allUserGroups}" as="userGroup">
                                <f:if condition="{userGroup.title}=={defaultGroup}" >
                                    <f:then>
                                        <option selected value="{userGroup.title}">{userGroup.title}</option>
                                    </f:then>
                                    <f:else>
                                        <option value="{userGroup.title}">{userGroup.title}</option>
                                    </f:else>
                                </f:if>
                            </f:for>
                        </select>
                </div>
                <p><i class="fa fa-question-circle" id="signing_info" style="color:cadetblue; padding-left:5px;"></i> <em>  Users will be assigned this group by default. Please create a usergroup if no usergroup is there.</em><br>
                    &nbsp;
                    &nbsp;
                <br>
                <h4><strong>Map Typo3 Groups to IDP Groups</strong> <span class="premiumMessage" > [Premium Feature]</span></h4>
                <hr>

                <f:for each="{allUserGroups}" as="userGroup">
                    <div class="gm-div">
                        <label class="form-control gm-input-label">{userGroup.title}</label>
                        <input class="form-control gm-input" disabled  type="text" value="">
                    </div>
                </f:for>
                <br/>
                <button type="submit" {log} class="btn btn-primary gm-submit" >Save Group Mapping</button>
            </form>

        </div>

    <!--   ACCOUNT TAB-->
        <div id="Account" style="margin-left: 20px" class="tabcontent" >

    <!--    IF USER NOT LOGGED IN -->
            <f:if condition="{0: status} == {0: 'not_logged'}">
                <form name="account" method="post" id="account_form">
                <input type="hidden" name="option" value="mo_saml_verify_customer"/>

                    <div id="toggle1" class="panel_toggle">
                        <h3><strong>Register/Login with Miniorange</strong></h3>
                    </div>
                    &nbsp;
                    <h4 style=" color: #545454;"><strong>Why should I register?</strong></h4>

                    <div style="background: aliceblue; padding: 10px 10px 10px 10px; border-radius: 10px; color: #545454;">
                        You should register so that in case you need help, we can help you with step by step
                        instructions. We support all known IdPs - ADFS, Okta, Salesforce, Shibboleth,
                        SimpleSAMLphp, OpenAM, Centrify, Ping, RSA, IBM, Oracle, OneLogin, Bitium, WSO2 etc.
                        <b>You will also need a miniOrange account to upgrade to the premium version of this extension.</b>
                        We do not store any information except the email that you will use to register with us.
                    </div>

                    <p id="att-map-tab-partial">If you already have a miniOrange account, submit your existing credentials.
                        We will retrieve your existing account for you.</p>

                    <hr>
                    <div id="panel1" class="" style="height: 70%">
                        <p><b>Please enter your miniOrange email and password.<br/> <a target="_blank" href="https://login.xecurify.com/moas/idp/resetpassword">Click
                                here if you forgot your password?</a></b></p>
                        <div>
                        <input type="checkbox" id="registered" name="registered" value="isChecked" onclick="ifUserRegistered()"/> Already Registered<br>
                        <br>
                        </div>

                        <div class="col-lg-8 tile" style=" height: fit-content">

                            <label color="#FF0000">Email:</label>
                            <input class="form-control" type="email" name="email"
                                   required placeholder="person@example.com"
                                   value="
                                    "/>
                            <br>
                            <label color="#FF0000">Password:</label>
                            <input class="form-control" required type="password"
                                   name="password" placeholder="Enter your password"
                                   minlength="6" pattern="^[(\w)*(!@#$.%^&*-_)*]+$"
                                   title="Minimum 6 characters should be present. Maximum 15 characters should be present. Only following symbols (!@#.$%^&*) should be present."/>
                            <br>
                            <div id="confirmPasswordDiv">
                                <label color="#FF0000">Confirm Password:</label>
                                <input class="form-control" type="password"
                                           name="confirmPassword" placeholder="Confirm your password"
                                           minlength="6" pattern="^[(\w)*(!@#$.%^&*-_)*]+$"
                                           title="Minimum 6 characters should be present. Maximum 15 characters should be present. Only following symbols (!@#.$%^&*) should be present."/>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" value="submit" onClick="jQuery('#account_form').submit();"> Login </button>
                            <br>&nbsp;
                        </div>
                        <br>
                    </div>
                    <br>
                </form>
                <br>
                <br>
                </f:if>

            <br>

            <f:comment><!--    IF  USER LOGGED--></f:comment>
            <f:if condition="{0: status} == {0: 'logged'}">
                <div id="toggle3" class="panel_toggle">
                    <h3 ><strong>Profile</strong></h3>
                </div>
                <hr>
                <div class="tile">

                    <table class="profileTable" >
                    <tr>
                        <td><strong>Email : </strong></td>
                        <td>{email}</td>
                    </tr>
                         &nbsp
                    <tr>
                        <td><strong>ID : </strong></td>
                        <td>{key}</td>
                    </tr>
                        &nbsp
                    <tr>
                        <td><strong>Token : </strong></td>
                        <td>{token}</td>
                    </tr>
                    <tr>
                        <td><strong>Api Key : </strong></td>
                        <td>{api_key}</td>
                    </tr>
                    </table>

                    &nbsp

                    <!--     CHANGE ACCOUNT -->
                    <form name="log_out_form" id="log_out_form" method="post" action="">
                        <input type="hidden" name="option" value="logout">

                        <input type="submit"
                               name="submit"
                               value="Log out"
                               class="btn btn-primary" onclick="jQuery('#log_out_form').submit();" />
                    </form>

                </div>

            </f:if>

        </div>


    </div>

    <f:comment><!-- Right Container - SUPPORT TAB--></f:comment>
    <div id="rightContainer" class="container">
        <div id="Support" class="tabcontent" >
            <h3><strong>Support</strong></h3>
            <hr>
            &nbsp;
            <div class="row">
                <div class="col-md-12">
                    <div class="tile">
                        <div class="row ">
                            <div class="col-lg-10">
                                <form method="post" action="">
                                    <p><b>Need any help? Just send us a query and we will get back to you soon.</b></p>

                                    <input type="hidden" name="option" value="mo_saml_contact_us_query_option"/>
                                    &nbsp;
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="mo_saml_contact_us_email" placeholder="Enter your email" value="{email}">
                                    </div>

                                    <div class="form-group">
                                        <input class="form-control" type="tel" name="mo_saml_contact_us_phone" placeholder="Enter your phone number to get support on phone [optional]">
                                    </div>

                                    <div class="form-group">
                                        <textarea class="form-control" rows="8" name="mo_saml_contact_us_query" placeholder="Please write your query here and hit submit to contact us."></textarea>
                                    </div>
                                    <div class="tile-footer">
                                        <button class="btn btn-primary" type="submit" name="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
