
<!DOCTYPE html>
<html lang="en" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
    <f:be.pageRenderer />
    <title><f:render section="title" /></title>
    <link rel="stylesheet" href="{f:uri.resource(path: 'EXT:sp/Resources/Public/Css/sp/bootstrap.min.css')}" />
    <link rel="stylesheet" href="{f:uri.resource(path: 'EXT:sp/Resources/Public/Css/sp/custom.css')}" />
    <script type="module" src="{f:uri.resource(path: 'EXT:sp/Resources/Public/JavaScript/sp/jquery.min.js')}" ></script>
    <script type="module" src="{f:uri.resource(path: 'EXT:sp/Resources/Public/JavaScript/sp/bootstrap.min.js')}" ></script>
    <script type="module" src="{f:uri.resource(path: 'EXT:sp/Resources/Public/JavaScript/sp/main.js')}" ></script>
    <f:render section="head" optional="true" />
</head>
<body>
<f:render section="content"/>
</body>

</html>
